cfgssl-netopeer/cfgssl/cfgssl-client/ietf-tls-client@2017-10-30-config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:ks="urn:ietf:params:xml:ns:yang:ietf-keystore" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:tlsc="urn:ietf:params:xml:ns:yang:ietf-tls-client" xmlns:tlscmn="urn:ietf:params:xml:ns:yang:ietf-tls-common" xmlns:nacm="urn:ietf:params:xml:ns:yang:ietf-netconf-acm" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/usr/local/share/libnetconf/rnglib//relaxng-lib.rng"/><start><element name="config"><interleave><grammar ns="urn:ietf:params:xml:ns:yang:ietf-tls-client"><include href="./ietf-tls-client@2017-10-30-gdefs-config.rng"/><start><element name="tlsc:ietf-tls-client"><interleave><element name="tlsc:connection-info"><interleave><element name="tlsc:server-address"><ref name="ietf-inet-types__ip-address"/></element><optional><element name="tlsc:server-port"><ref name="ietf-inet-types__port-number"/></element></optional><optional><element name="tlsc:auto-start"><choice><value>true</value><value>false</value></choice></element></optional></interleave></element><optional><element name="tlsc:client-identity"><optional><choice><element name="tlsc:certificate"><interleave><ref name="ietf-keystore___private-key-grouping"/><ref name="ietf-keystore___certificate-grouping"/></interleave></element></choice></optional></element></optional><optional><element name="tlsc:server-auth"><interleave><optional><element name="tlsc:pinned-ca-certs"><ref name="ietf-keystore___certificate-grouping"/></element></optional><optional><element name="tlsc:pinned-server-certs"><ref name="ietf-keystore___certificate-grouping"/></element></optional></interleave></element></optional><optional><element name="tlsc:hello-params"><ref name="ietf-tls-common___hello-params-grouping"/></element></optional></interleave></element></start></grammar></interleave></element></start></grammar>
