cfgssl-netopeer/cfgssl/cfgssl-server/ietf-tls-server@2017-10-30-config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns:ks="urn:ietf:params:xml:ns:yang:ietf-keystore" xmlns="http://relaxng.org/ns/structure/1.0" xmlns:nma="urn:ietf:params:xml:ns:netmod:dsdl-annotations:1" xmlns:tlscmn="urn:ietf:params:xml:ns:yang:ietf-tls-common" xmlns:tlss="urn:ietf:params:xml:ns:yang:ietf-tls-server" xmlns:nacm="urn:ietf:params:xml:ns:yang:ietf-netconf-acm" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="urn:ietf:params:xml:ns:netconf:base:1.0"><include href="/usr/local/share/libnetconf/rnglib//relaxng-lib.rng"/><start><element name="config"><interleave><grammar ns="urn:ietf:params:xml:ns:yang:ietf-tls-server"><include href="./ietf-tls-server@2017-10-30-gdefs-config.rng"/><start><optional><element name="tlss:ietf-tls-server"><interleave><optional><element name="tlss:connection-info"><interleave><optional><element name="tlss:server-port"><ref name="ietf-inet-types__port-number"/></element></optional><optional><element name="tlss:auto-start"><choice><value>true</value><value>false</value></choice></element></optional></interleave></element></optional><optional><element name="tlss:server-identity"><interleave><ref name="ietf-keystore___private-key-grouping"/><ref name="ietf-keystore___certificate-grouping"/></interleave></element></optional><optional><element name="tlss:client-auth"><interleave><optional><element name="tlss:pinned-ca-certs"><ref name="ietf-keystore___certificate-grouping"/></element></optional><optional><element name="tlss:pinned-client-certs"><ref name="ietf-keystore___certificate-grouping"/></element></optional></interleave></element></optional><optional><element name="tlss:hello-params"><ref name="ietf-tls-common___hello-params-grouping"/></element></optional></interleave></element></optional></start></grammar></interleave></element></start></grammar>
